.menu {
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    &__item {
        color: #2a2c2f;
        font-size: 17px;
        font-weight: 400;
        &:hover {
            transition: opacity ease-in .5;
            opacity: 0.5;
        }
    }
}